@import "tailwindcss";

@theme {
    --color-dark: #1F1F1F;
    --color-toolbar: #161616;
    --color-border: #3C3C3C;
    --color-button: #0D0D0D;
}

.material-symbols-outlined {
    font-family: 'Material Symbols', sans-serif;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
  
.konvajs-content {
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 7px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* or whatever color you want */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: oklch(37.1% 0 0);
  border-radius: 2px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: oklch(42.1% 0 0);
  border-radius: 2px;
}

.scrollbar-thin::-webkit-scrollbar-button {
  display: none; /* should hide triangles */
  width: 0;
  height: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}